@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

@layer base {
  body {
    @apply flex flex-col min-h-screen min-h-[100svh] w-screen bg-white dark:bg-neutral-900;
  }
}

@layer components {
  .link {
    @apply rounded-sm decoration-primary-500 decoration-2 hover:underline focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-500;
  }
}
