@use 'breakpoints' as *;

.errorCallout {
  margin-bottom: 32px;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  align-items: center;
}

.field {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: 12px;
  margin-top: 12px;

  @include mediaUp(SM) {
    margin-top: 24px;
  }
}

.submitButton {
  width: 100%;

  @include mediaUp(SM) {
    max-width: 150px;
  }
}
